<head>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lato">
</head>

<div class="article">
    <dl>
        <div class="cell">
            <div class="cell_content odd">
                <div class="date dOdd">
                    September 2015
                </div>
                <div class="info">
                    Started 9th grade at West Essex
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell_content even">
                <div class="date dEven">
                    June 2019
                </div>
                <div class="info iEven">
                    Graduated West Essex 
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell_content odd">
                <div class="date dOdd">
                    August 2019
                </div>
                <div class="info">
                    Began at Quinnipiac University
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell_content even">
                <div class="date dEven">
                    January 2020
                </div>
                <div class="info iEven">
                    Switched from Graphic & Interactive Design to Computer Science
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell_content odd oddL">
                <div class="date dOdd dOddL">
                    August 2021
                </div>
                <div class="info">
                    Transferred to University of North Carolina at Chapel Hill
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="cell_content even evenL">
                <div class="date dEven dEvenL">
                    May 2024
                </div>
                <div class="info iEven iLast">
                    Expeected to Graduate (hopefully) Summa Cum Laude
                </div>
            </div>
        </div>
    </dl>
</div>