.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 12vh;

}

.hobbyimage {
    width: 250px;
    height: auto;
}

.hobby {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    font-family: Lato;
    font-size: 30px;
    padding-top: 25px;
    font-weight: bolder;
    font-variant: small-caps;
}