<head>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lato">
</head>

<div class="container">
    <div class="hobby">
        <img src="assets/img/hobbies/fitness.png" class="hobbyimage">
        <div class="head">
        fitness
        </div>
    </div>
    <div class="hobby">
        <img src="assets/img/hobbies/Fhock.png" class="hobbyimage">
        <div class="head">
            field hockey
        </div>
    </div>
    <div class="hobby">
        <img src="assets/img/hobbies/baking.png" class="hobbyimage">
        <div class="head">
            baking
        </div>
    </div>
</div>
<div class="container">
    <div class="hobby">
        <img src="assets/img/hobbies/thrifting.png" class="hobbyimage">
        <div class="head">
            thrifting
        </div>
    </div>
    <div class="hobby">
        <img src="assets/img/hobbies/music.png" class="hobbyimage">
        <div class="head">
            going to music festivals                   
        </div>
    </div>
    <div class="hobby">
        <img src="assets/img/hobbies/friends.png" class="hobbyimage">
        <div class="head">
            hanging with friends
        </div>
    </div>
</div>