<head>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lato">
</head>

<div class="box">

    <div class = "header_display">
        <div class = "column">
            <h1 class="header title">James Lynch</h1>
            <h2 class="subtitle header">Software & User Experience Engineer</h2>
            <h5>20 Years Old</h5>
            <h5>Student @ UNC-CH</h5>
            <h5>From Northern New Jersey</h5>
            <h5>862-485-4968</h5>
        </div>
        <div class="img_container">
            <img class= "prof_img" src="assets/img//Headshot.jpg" alt="Action Shot" width="100%">
        </div>
        
    </div>

    <div class="space">
        <h3 class="subheader">Goals</h3>
        <ul class="sub-info">
            <li class="bullets">Develop myself professionally this summer as a Brimma Intern</li>
            <li class="bullets">Compete for my final year with the USA U-21 program, and age up into the Senior National Team</li>
            <li class="bullets">Complete my degree in 2024, and recieve two minors in Information Science and Data Science, respectfully.</li>
            <li class="bullets">Win a National Championship with the UNC Field Hockey Team</li>
            <li class="bullets">Generate new knowledge and skills within the Tech atmosphere, to make me an asset to any company</li>
            <li class="bullets">Move to New York City Post-Graduation</li>
            <li class="bullets">Compete with the USA National Team at the 2023 Pan American Games, and hopefully qualify for the 2024 Paris Olympic Games</li>
        </ul>
    </div>
</div>
