

    <nav class="nav">
        <div class="webpages">
            <a routerLink="" class="nav_options">
                <img src="assets/img/homehover.png" class="logo">
            </a>
            <a routerLink="/education" routerLinkActive="selected" class="nav_options" >education</a>
            <a routerLink="/hobbies" routerLinkActive="selected" class="nav_options">hobbies</a>
            <a routerLink="/work" routerLinkActive="selected" class="nav_options">work</a>
            <a routerLink="/field-hockey" routerLinkActive="selected" class="nav_options">field hockey</a>
        </div>
        <div class="social_media"> 
            <a href="" class="border twitter">
                <img src="assets/img/twitterwhite.png" class="img">
            </a>
            <a href="" class="border insta">
                <img src="assets/img/insta.png" class="img">

            </a>
            <a href="" class="border linkedin">
                <img src="assets/img/linkedin.png" class="img">

            </a>
            <a href="" class="border facebook">
                <img src="assets/img/facebook.png" class="img">
            </a>
    </div>
    </nav>
    

<!-- add routerLinkActive to each to specify Css for when they're active (as well as regular css)-->